---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `init: entering stage 1
init: starting service A
init: service A started successfully
init: starting service B
init: service B started successfully
init: entering stage 2
init: starting service C
init: service C started successfully
init: all services started, system initialization complete
`
---

<Layout title="Эмбеддер">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Эмбеддер</h1>
        <p class="text-2xl my-8">
         здесь о <b class="text-magenta-600 dark:text-magenta-400">встраиваемых системах</b> 
        </p>
        
      </div>
      <div class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-magenta-500">
        <Code code={CODE} lang="sh"/>
      </div>
    </div>
    <div class="bg-magenta-700 dark:bg-zinc-800">
      <div class="max-w-6xl mx-auto md:py-16 p-8 text-center">
        <h1 class="text-white text-6xl font-bold mb-16">Разделы</h1>
        <div class="md:flex md:justify-center space-y-8 md:space-y-0 md:gap-x-8 dark:text-white">
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Одноплатные Компьютеры</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                самодостаточные компьютеры, собранные на одной печатной плате
              </p>
              <a href="/docs/get-started/introduction" class="inline-block bg-magenta-700 hover:bg-magenta-800 text-white text-lg font-bold py-2 px-4 rounded">
                sbc
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Микроконтроллеры</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                микросхемы, предназначенная для управления электронными устройствами
              </p>
              <a href="/docs/guides/migrate-from-z" class="inline-block bg-magenta-700 hover:bg-magenta-800 text-white text-lg font-bold py-2 px-4 rounded">
                avr, esp, arm, etc
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Программное Обеспечение</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Встроенное программное обеспечение предназначено для управления и контроля аппаратной части устройства, обеспечения его функциональности и взаимодействия с внешними системами.
              </p>
              <a href="/docs/get-started/installation" class="inline-block bg-magenta-700 hover:bg-magenta-800 text-white text-lg font-bold py-2 px-4 rounded">
                linux
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex md:flex-wrap">
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Управление специализированными функциями</h2>
        <p class="text-lg my-8">
Встраиваемые системы играют критическую роль в управлении специализированными функциями в различных отраслях. Они используются в автомобилях, медицинском оборудовании, бытовой технике, промышленных системах и других областях, чтобы обеспечивать необходимую функциональность и автоматизацию.        
	</p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Оптимизация производительности и ресурсов:</h2>
        <p class="text-lg my-8">
Встраиваемые системы обычно разрабатываются с учетом оптимизации производительности и использования ресурсов. Они обеспечивают эффективное использование ограниченных вычислительных мощностей, памяти и энергии, что делает их идеальным выбором для устройств с ограниченными ресурсами или мобильных устройств.        
	</p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Надежность и стабильность</h2>
        <p class="text-lg my-8">
Встраиваемые системы обычно работают в критически важных и непрерывных средах. Они должны быть надежными и стабильными, чтобы обеспечить постоянную работу устройств и систем. Благодаря оптимизированному программному и аппаратному обеспечению, встраиваемые системы обычно имеют высокую стабильность и минимальное количество сбоев.        
	</p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Безопасность</h2>
        <p class="text-lg my-8">
Встраиваемые системы играют важную роль в обеспечении безопасности в различных сферах. Они используются для защиты информации, контроля доступа, мониторинга и других аспектов безопасности. Благодаря своей специализации и возможности интеграции с различными системами защиты, встраиваемые системы помогают обеспечить безопасность в широком диапазоне приложений.
	</p>
	      
	</main>
</Layout>
